// Color
$success: #8BC34A;
$info: #03A9F4;
$warning: #FFC107;
$error: #F44336;
// Font
$title-size: 16px;
$content-size: 14px;

.angular-notify{
	color: #fff;
	font-family: 'Roboto', system, -apple-system, '.SFNSDisplay-Regular', HelveticaNeue, Arial, 'Noto Sans', 'Noto Sans CJK SC', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;

	border-radius: 2px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.24), 0 0 4px rgba(0, 0, 0, 0.12);
	width: 480px;
	padding: 16px 16px 16px 0;
	margin: 16px;
	position: relative;
	z-index: 999;

	.title{
		font-size: $title-size;
		font-weight: 400;
		letter-spacing: 0.02em;
		line-height: 22px;
		margin: 1px 0 0 64px;
		padding: 0 0 0 16px;
	}

	.content{
		font-size: $content-size;
		font-weight: 300;
		letter-spacing: 0.02em;
		line-height: 20px;
		margin: 5px 0 0 64px;
		padding: 0 0 0 16px;
	}

	.close{
		background: none;
		border: none;
		outline: none;
		width: 24px;
		height: 24px;
		margin: 0;
		position: absolute;
		top: 16px;
		right: 16px;
		i{
			color: #fff;
		}
		&:hover{
			opacity: 0.6;
		}
	}

	&:before{
		background-color: rgba(0, 0, 0, 0.14);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 64px;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}

.angular-notify-info{
	background-color: $info;

	&:before{
		content: url('data:image/svg+xml,%3Csvg%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%228%2014%2048%2048%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22path-1%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%224%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.24%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%220%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter2%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter2%22%20result%3D%22shadowBlurOuter2%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.12%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter2%22%20result%3D%22shadowMatrixOuter2%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMerge%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter2%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2FfeMerge%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22info%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(16.000000%2C%2024.000000)%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-2-Copy-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url(%23filter-2)%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M17%2C13%20L17%2C22%20L15%2C22%20L15%2C14%20L14%2C14%20L14%2C12%20L17%2C12%20L17%2C13%20L17%2C13%20Z%20M15%2C8%20L17%2C8%20L17%2C10%20L15%2C10%20L15%2C8%20L15%2C8%20Z%20M13%2C22%20L19%2C22%20L19%2C24%20L13%2C24%20L13%2C22%20L13%2C22%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22%2303A9F4%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}
}

.angular-notify-success{
	background-color: $success;

	&:before{
		content: url('data:image/svg+xml,%3Csvg%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%228%203%2048%2048%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22path-1%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%224%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.24%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%220%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter2%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter2%22%20result%3D%22shadowBlurOuter2%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.12%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter2%22%20result%3D%22shadowMatrixOuter2%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMerge%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter2%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2FfeMerge%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22success%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(16.000000%2C%2012.000000)%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url(%23filter-2)%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%238BC34A%22%20points%3D%2212.7552038%2020.5428932%207.41421356%2015.201903%206%2016.6161165%2012.363961%2022.9800776%2012.3838835%2022.9601551%2012.7751263%2023.3513979%2025.7123106%2010.4142136%2024.298097%209%2012.7552038%2020.5428932%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}
}

.angular-notify-warning{
	background-color: $warning;

	&:before{
		content: url('data:image/svg+xml,%3Csvg%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%228%2014%2048%2048%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22path-1%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%224%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.24%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%220%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter2%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter2%22%20result%3D%22shadowBlurOuter2%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.12%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter2%22%20result%3D%22shadowMatrixOuter2%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMerge%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter2%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2FfeMerge%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22warning%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(16.000000%2C%2024.000000)%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-2-Copy-3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url(%23filter-2)%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15%2C22%20L17%2C22%20L17%2C24%20L15%2C24%20L15%2C22%20L15%2C22%20Z%20M15%2C8%20L17%2C8%20L17%2C20%20L15%2C20%20L15%2C8%20L15%2C8%20Z%22%20id%3D%22Combined-Shape%22%20fill%3D%22%23FFC107%22%3E%3C%2Fpath%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}
}

.angular-notify-error{
	background-color: $error;

	&:before{
		content: url('data:image/svg+xml,%3Csvg%20width%3D%2248px%22%20height%3D%2248px%22%20viewBox%3D%228%2014%2048%2048%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Ccircle%20id%3D%22path-1%22%20cx%3D%2216%22%20cy%3D%2216%22%20r%3D%2216%22%3E%3C%2Fcircle%3E%0A%20%20%20%20%20%20%20%20%3Cfilter%20x%3D%22-50%25%22%20y%3D%22-50%25%22%20width%3D%22200%25%22%20height%3D%22200%25%22%20filterUnits%3D%22objectBoundingBox%22%20id%3D%22filter-2%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%224%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter1%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter1%22%20result%3D%22shadowBlurOuter1%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.24%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter1%22%20result%3D%22shadowMatrixOuter1%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeOffset%20dx%3D%220%22%20dy%3D%220%22%20in%3D%22SourceAlpha%22%20result%3D%22shadowOffsetOuter2%22%3E%3C%2FfeOffset%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeGaussianBlur%20stdDeviation%3D%222%22%20in%3D%22shadowOffsetOuter2%22%20result%3D%22shadowBlurOuter2%22%3E%3C%2FfeGaussianBlur%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeColorMatrix%20values%3D%220%200%200%200%200%20%20%200%200%200%200%200%20%20%200%200%200%200%200%20%200%200%200%200.12%200%22%20type%3D%22matrix%22%20in%3D%22shadowBlurOuter2%22%20result%3D%22shadowMatrixOuter2%22%3E%3C%2FfeColorMatrix%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMerge%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter1%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CfeMergeNode%20in%3D%22shadowMatrixOuter2%22%3E%3C%2FfeMergeNode%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C%2FfeMerge%3E%0A%20%20%20%20%20%20%20%20%3C%2Ffilter%3E%0A%20%20%20%20%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22error%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20transform%3D%22translate(16.000000%2C%2024.000000)%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Oval-2-Copy%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22black%22%20fill-opacity%3D%221%22%20filter%3D%22url(%23filter-2)%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20fill%3D%22%23FFFFFF%22%20fill-rule%3D%22evenodd%22%20xlink%3Ahref%3D%22%23path-1%22%3E%3C%2Fuse%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%20%20%20%20%3Cpolygon%20id%3D%22Combined-Shape%22%20fill%3D%22%23F44336%22%20points%3D%2217.1923882%2015.7781746%2023.5563492%209.41421356%2022.1421356%208%2015.7781746%2014.363961%209.41421356%208%208%209.41421356%2014.363961%2015.7781746%208%2022.1421356%209.41421356%2023.5563492%2015.7781746%2017.1923882%2022.1421356%2023.5563492%2023.5563492%2022.1421356%2017.1923882%2015.7781746%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E');
	}
}

@keyframes angular-notify-enter{
	0%{
		transform: translate(480px, 0);
	}
	100%{
		transform: translate(0, 0);
	}
}

@keyframes angular-notify-hide{
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}

.angular-notify-enter{
	animation-name: 'angular-notify-enter';
	animation-duration: 400ms;
	animation-timing-function: ease-in-out-cubic;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}

.angular-notify-hide{
	animation-name: 'angular-notify-hide';
	animation-duration: 320ms;
	animation-timing-function: linear;
	animation-delay: 0;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-fill-mode: forwards;
}
@media screen and (max-width: 480px) {
	.angular-notify {
		width: 100%;
	}
	@keyframes angular-notify-enter{
		0%{
			transform: translate(100%, 0);
		}
		100%{
			transform: translate(0, 0);
		}
	}
	.angular-notify-enter{
		animation-name: 'angular-notify-enter';
		animation-duration: 400ms;
		animation-timing-function: ease-in-out-cubic;
		animation-delay: 0;
		animation-iteration-count: 1;
		animation-direction: normal;
		animation-fill-mode: forwards;
	}
}